{% load static %}

{% block title %}

{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
  <title>base file</title>
</head>

<body>
  <nav>
    <div class="container  d-none d-md-block mt-lg-3">
      <div class="row justify-content-between align-items-center">
        <div class="col-3">
          <li class="nav-item" style="list-style: none;">
            <a href="" class="nav-link"><img src="{% static 'logo.png' %}" height="65" alt="my img"></a>
          </li>
        </div>
        <div class="col-9">
          <ul class="d-flex menu_section align-items-center justify-content-center">
            <li class="nav-item"><a class="nav-link" href="{% url 'home:homepage' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'home:aboutus' %}">About us</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'home:online_support' %}">Online Supports</a></li>

            <li class="nav-item">{% for item in Cat %}<a class="nav-link" target="_blank"
                href="{{item.cat.url}}">Catalogue</a>{% endfor %}</li>

          </ul>
        </div>
      </div>
    </div>

  </nav>
  {% block content %}

  {% endblock %}
</body>

</html>