{% extends 'base.html' %}
{% load static %}

{% block title %}
<head>
  <title>home page</title>
</head>
{% endblock%}

{% block content%}

<!-- Hand showing Area  -->
<!-- Hand showing Area  -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="souv_and_val">
        <div class="souv_heading">
          <div class="my-0 first_l">Souvenir</div>
          <div class="my-0 second_l offset-md-2 offset-3">& values</div>

        </div>
        <div class="para mt-md-5 pt-md-5 mt-5">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi assumenda rerum, quam, saepe ipsa et neque rem distinctio explicabo officia quibusdam obcaecati sequi aut perferendis exercitationem, eius illum praesentium? Explicabo ullam aut eius eum dignissimos corrupti, fuga dicta aliquam ipsam dolorem consectetur iusto. Iusto, laboriosam? Nesciunt numquam corrupti odit corporis.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="sov_val_hand_image">
        <img src="{% static 'fp/hand.png' %}" alt="">
      </div>
    </div>
  </div>
</div>

<!-- subscribe to our news seller section -->
<!-- subscribe to our news seller section -->
<!-- subscribe to our news seller section -->
<div class="container mb-md-5">
  <div class="row justify-content-md-between">
    <div class="col-md-5">
      <div class="news_seller">
        <div class="heading my-md-3 col-12">sign in to our news seller</div>
        <div class="d-flex justify-content-between">
          <input required type="email" placeholder="Your email address...">
          <div class="news_seller_button_img">
            <img src="{% static 'fp/enter.png' %}" alt="button img">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-2 d-none d-md-block">
      <div class="what_sap_img">
        <img src="{% static 'fp/whats-up.png' %}" alt="">
      </div>
    </div>
  </div>
</div>



<!-- can held can held -->
<!-- can held can held -->
<!-- can held can held -->
<div class="container can_held_magint_top">
  <div class="row">
    <div class="col-md-12  can_held_wrapper position-relative">
      <div class="row justify-content-md-around">
        <div class="col-8">
          <div class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eum amet nulla aut iure. Eum cum enim, numquam unde,
            distinctio repellendus quia <span class="d-none d-md-block">
              aut doloremque adipisci
              distinctio repellendus quia aut doloremque adipisci
              culpa, odit ducimus tempora ex inventore!
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="position-relative">
            <div class="can_held_img">
              <img src="{% static 'fp/ff.png' %}" alt="">
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>



<!-- What makes us stant out section  -->
<!-- What makes us stant out section  -->
<!-- What makes us stant out section  -->
<div class="container">
  <div class="row">
    <div class="col-md-5 mt-3">
      <div class="reading_baby">
        <img src="{% static 'fp/kid.png' %}" alt="kig png">
      </div>
    </div>
  </div>
</div>



<div class="container my-md-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-justify what_is_sovenir">
      <div class="text-center heading">What is Sovenier?</div>
      <p class="text-center desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Illo, natus ipsam. Odit dolorum incidunt ad amet temporibus totam maiores
        doloribus. Omnis quaerat earum dolorem quia sapiente reiciendis laudantium
        .</p>
    </div>
  </div>
  <div class="row justify-content-md-around justify-content-center align-items-center">
    <div class="col-md-3">
      <div class="wrapper">
        <div class="shastri_jee">
          <img src="{% static 'fp/2.png' %}" alt="">
        </div>
        <div class="card card-body card_desc">
          <div class="first_p">Lorem ipsum, dolor sit amet consectetur . Repudiandae, expedita.</div>
          <div class="first_p">adipisicing elit. expedita.</div>
          <div class="first_p">Lorem.</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="wrapper">
        <div class="shastri_jee">
          <img src="{% static 'fp/2.png' %}" alt="">
        </div>
        <div class="card card-body card_desc">
          <div class="first_p">Lorem ipsum, dolor sit amet consectetur . Repudiandae, expedita.</div>
          <div class="first_p">adipisicing elit. expedita.</div>
          <div class="first_p">Lorem.</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="wrapper">
        <div class="shastri_jee">
          <img src="{% static 'fp/2.png' %}" alt="">
        </div>
        <div class="card card-body card_desc">
          <div class="first_p">Lorem ipsum, dolor sit amet consectetur . Repudiandae, expedita.</div>
          <div class="first_p">adipisicing elit. expedita.</div>
          <div class="first_p">Lorem.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate temporibus, consectetur quam fugiat veritatis
      facilis impedit tempora ad sapiente dignissimos nihil debitis. Soluta numquam qui recusandae quo, in incidunt
      odit.
    </div>
  </div>
</div> -->

<!-- WareHousing section -->
<!-- WareHousing section -->
<!-- WareHousing section -->
<div class="container  mt-3 mt-md-5">
  <div class="row justify-content-md-between">
    <div class="col-md-6 mt-md-5">
      <div class="warehouse_cont">
        <h2 class="wharehouse_h2">WareHousing</h2>
        <div class="wharehouse_para1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sit optio saepe quae reiciendis ipsa iusto
          dolores iste cum doloremque.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sit optio saepe quae reiciendis ipsa iusto
          dolores iste cum doloremque.
        </div>
        <div class="wharehouse_para1 my-md-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quasi tempore quaerat pariatur odit libero fuga
          saepe aperiam, enim perspiciatis?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quasi tempore quaerat pariatur odit libero fuga
          saepe aperiam, enim perspiciatis?
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="warehouse_img_container">
        <img src="{% static 'fp/4.png' %}" alt="">
      </div>
    </div>
  </div>
</div>






{% endblock %}